// main

.menu-to-centre {
    display: flex;
}

.m-d-m {
    height: 360px;
}

/* Minecraft blocks */

.blocks-to-centre {
    display: flex;
    align-items: center;
    padding-top: 92px;
} 

/* minecraft green */

#block1{
    height: 360px;
    width: 620px;
    border-radius: 15px;
    background: linear-gradient(131.39deg, #1DBE53 -11.11%, #ACE238 73.42%);
    border-radius: 15px;
}

.creeper {
    position: relative;
    bottom: 410px;
    left: 340px;
}

.text-blocks {
    position: relative;
    z-index: 2;
    font-family: 'Manrope';
    height: 86px;
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
    text-align: left;
    padding: 10px 40px 40px 40px;
    margin-right: 75px;
    color: #FFFFFF;
}

.text-money-area {
    display: flex;
    gap: 100px;
    padding-top: 50px;
    padding-left: 40px;
}

.text-money {
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
}

.procent {
    padding-left: 20px;
    color: #FFE817;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
}

.not-money {
    padding-left: 20px;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
}

.buy-minecraft {
    margin-left: 30px;
    margin-top: 60px;
    height: 63px;
    width: 144px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: none;
}

.buy-minecraft-text {
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
}

.button-favourite {
    display: flex;
}

.favourite  {
    margin-top: 80px;
    margin-left: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

/* minecraft orange */

.menu-to-centre-nav {
    height: 360px;
}

#block2 {
    margin-left: 20px;
    height: 360px;
    width: 620px;
    border-radius: 15px;
    background: linear-gradient(131.39deg, #FF3D23 -11.11%, #FDA828 73.42%);
    border-radius: 15px;
}

.players {
    position: relative;
    bottom: 425px;
    left: 370px;
}

// blocks laptop

@media (max-width: 1024px) {
    #block1 {
        height: 320px;
        width: 480px;
    }

    #block2  {
        height: 320px;
        width: 480px;
        margin-left: 10px;
    }

    .creeper {
        width: 45%;
        position: relative;
        bottom: 360px;
        left: 280px;
    }

    .text-blocks {
        font-size: 28px;
        font-weight: 600;
        padding: 10px 40px 40px 40px;
    }

    .players {
        width: 60%;
        position: relative;
        bottom: 350px;
        left: 280px;
    }
}

// blocks tablet

@media (max-width: 768px) {
    #block1 {
        height: 260px;
        width: 370px;
    }

    #block2 {
        height: 260px;
        width: 370px;
        margin-left: 10px;
    }

    .creeper {
        width: 45%;
        position: relative;
        bottom: 295px;
        left: 215px;
    }

    .players {
        width: 60%;
        position: relative;
        bottom: 285px;
        left: 195px;
    }

    .text-blocks {
        font-size: 20px;
        font-weight: 600;
        padding: 10px 40px 40px 10px;
    }

    .text-money-area {
        padding-top: 30px;
        padding-left: 10px;
    }

    .procent {
        padding-left: 2px;
    }

    .not-money {
        padding-left: 2px;
    }

    .buy-minecraft {
        margin-left: 10px;
        margin-top: 20px;
    }

    .favourite  {
        margin-top: 40px;
    }
}

// menu-list

.game-navigation-menu {
    display: flex;
    text-align: center;
    gap: 0 30px;
    padding-top: 180px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 60px;
    @media (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 15px;
    }
}

.game-navigation-menu-item-link {
    color: #868686;
    &:hover {
        color: #FFFFFF;
        @media (max-width: 768px) {
            color: #77BE1D;
        }
    }
}

.if_u_in_some_section {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 20px;
    @media (max-width: 768px) {
        color: #77BE1D;
        border-bottom: 2px solid #77BE1D;
        padding-bottom: 5px;
    }
}