.slide {
    margin-top: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider>img {
    width: 900px;
    height: 450px;
}

.btn-next, .btn-prev {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    opacity: 50%;
    filter: blur(0.8px);
    margin-top: 190px;
}

.btn-next {
    margin-left: -30px;
}

.btn-prev {
    margin-right: -30px;
    z-index: 1;
}

.slider_text>img {
    position: absolute;
    margin-top: -325px;
    margin-left: 400px;
}

.slider_texto {
    position: absolute;
    font-size: 20px;
    width: 500px;
    margin-top: -250px;
    margin-left: 410px;
}

.price {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    margin-left: 410px;
    margin-top: -160px;
}

.percent {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #77BE1D;
}

.newPrice {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.cart {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background: #FFFFFF;
    color: black;
    border-radius: 15px;
    padding: 23px 40px 27px;
    margin-left: 410px;
    margin-top: -110px;
    transition: 0.5s;
}

.cart:hover {
    background-color: #77BE1D;
    transition: 0.5s;
}

.favorite {
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 23px 40px 27px;
    gap: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    margin-left: 600px;
    margin-top: -110px;
    transition: 0.5s;
}

.favorite:hover {
    background-color: #77BE1D;
    color: black;
    transition: 0.5s;
}